@media (min-width: 1400px){

    * {
        margin: 0;
        padding: 0;
        
    }
    
    
    body {
        
        background: linear-gradient(20deg, rgba(245,233,237,1) 20%, rgba(232,175,182,1) 82%);
        overflow: hidden;
        background-attachment: fixed;
        height: 100%;
        position: relative;
        font-family: 'Nunito', sans-serif; 
    }
    
    
    #deco1 { /*decoration of the left*/
        width: 140vw;
        display: flex;
        transform: translateX(45px);
    }
    
    
    #deco2 { /*decoration of the right*/
       
        width: 240vw;
        display: flex;
        transform: translateX(235px);
    }
    
    /*top purple decoration*/
    .paint {
        background-color: #A584BC;
        border-radius: 100px 100px;
        height: 50px;
    
    }
    
    #decoration1 {
        width: 460px;
        transform: rotate(90deg);
        margin-top: 105px;
        margin-left: -110px;
        position: fixed;
    }
    
    
    #decoration2 {
        width: 360px;
        transform: rotate(90deg);
        margin-top: -25px;
        margin-left: -145px;
        position: fixed;
        
    }
    
    
    /*saturn planet decoration*/
    
    #saturn {
        max-width: 220px;
        height: auto;
        position: absolute;
        z-index: 200;
        transform: translateX(20px) translateY(380px);
    }
    
    /*bottom purple decoration*/
    
    #decoration3 {
        width: 650px;
        transform: rotate(-90deg) translateX(-780px) translateY(-20px);
        margin-top: 105px;
        margin-left: 985px;
        position: fixed;
    }
    
    
    #decoration4 {
        width: 55px;
        height: 55px !important;
        transform: rotate(-90deg) translateX(-480px) translateY(1262px);
        border-radius: 100% !important;
    }
    
    
    #decoration5 {
        width: 460px;
        transform: rotate(-90deg) translateX(-720px) translateY(980px);
        margin-top: 20px;
        position: fixed;
    }
    
    
    /*bottom pipe*/
    #pipe-bottom {
        max-width: 250px;
        height: auto;
        margin-left: -125px;
        transform: translateY(70vh);
        position: fixed;
        filter: drop-shadow(40px 15px 10px rgba(83, 83, 83, 0.5));
    
    }
    
    /*top pipe*/
    #pipe-top {
        
        transform: rotate(160deg) translateX(-65vw) translateY(-20vh);
        max-width: 320px;
        height: auto;
        position: fixed;
        filter: drop-shadow(20px -5px 5px rgba(83, 83, 83, 0.20));
        }
    
    
       
    
        /*main container*/
    
        #container-shadow {
            background:rgba(83, 83, 83, 0.12);
            width: 60vw;
            height: 88vh;
            border-radius: 30px;
            position: absolute;
            z-index: -1;
            left: 205px;
            top: 57px;
            filter: blur(2px);
        }
    
        #container-out {
            background: linear-gradient(25deg, rgb(223, 151, 161) 20%, rgba(255,183,200,1) 100%);
            width: 60vw;
            height: 95vh;
            border-radius: 30px;
            position: absolute;
            z-index: 10;
            left: 218px;
            top: 17px;
                  
        }
    
    
        #container-in {
            background: linear-gradient(85deg, rgb(253, 173, 159) 20%, rgb(238, 179, 164) 100%);
            width: 59.3vw;
            height: 94vh;
            border-radius: 30px;
            position: absolute;
            z-index: 20;
            left: 5px;
            top: 5px;
            display: flex;
    
        }
    
    
        /*fake buttons*/
    
        .fake-button {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            filter: drop-shadow(-2px 1px rgba(83, 83, 83, 0.20));
            display: inline-block;
            margin-top: 35px;
            margin-left: 18px;
        }
    
        #circle1 {
            background-color: #f8c2a3;
            margin-left: 65px;
             }
    
        #circle2 {
            background-color: #A584BC;
        }
    
        #circle3 {
            background-color: #A872AE;
        }
    
    
        
        /*title container*/
    
        #outline {
            background-color: #d6b1b4;
            width: 54vw;
            height: 33vh;
            position: absolute;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            margin-top: 105px;
            left: 36px;
            
        }
    
        #inside {
            background-color: #E9D6E8;
            width: 53.7vw;
            height: 32.4vh;
            position: absolute;
            border-radius: 30px;
            margin-top: 108px;
            left: 36.5px;
    
        }
    
    
        #nom {
            color: #A584BC;
            font-size: 2em;
            font-weight: 600;
            margin-top: 155px;
            margin-left: 75px;
            background-color: white;
            position: absolute;
            height: 45px;
            width: 220px;
            box-shadow: -10px 5px 3px rgba(83, 83, 83, 0.10);
            border-radius: 15px;
            text-align: center;
        }
    
        #webdesigner {
            color: #A584BC;
            font-size: 2em;
            font-weight: 600;
            margin-top: 215px;
            margin-left: 75px;
            background-color: #FCE4EB;
            position: absolute;
            height: 45px;
            width: 250px;
            box-shadow: -10px 5px 3px rgba(83, 83, 83, 0.10);
            border-radius: 15px;
            text-align: center;
        }
    
        .world{
            position: absolute;
            z-index: 100;
            max-width: 350px;
            height: auto;
            margin-left: 750px;
            margin-top: 12px;
            animation-name: float;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    
        @keyframes float {
            0% {
              
              transform: translatey(0px);
            }
            50% {
              
              transform: translatey(-20px);
            }
            100% {
             
              transform: translatey(0px);
            }
          }
    
    
        /*project, cv and profile section*/
        #medias-line {
            display: flex;
        }
    
        #about {
            width: 120px;
            height: auto;
            position :absolute;
            margin-top: 320px;
            margin-left: 145px;
            z-index: 20;
            cursor: pointer;
        }
    
        #background-about {
            background-color: #EE8274;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            position :absolute;
            margin-top: 275px;
            margin-left: 105px;
            filter: drop-shadow(-10px 8px 3px rgba(83, 83, 83, 0.50));
            z-index: 10;
    
        }
    
        #under-circle-shadow {
    
            background-color: #e4918b;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            position :absolute;
            margin-top: 305px;
            margin-left: 205px;
            z-index: 5;
        }
    
        #under-circle {
    
            background-color: #fda393;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            position :absolute;
            margin-top: 302px;
            margin-left: 202px;
            z-index: 8;
        }
    
        #pointer {
    
            width: 67px;
            height: auto;
            position: absolute;
            z-index: 50;
            margin-top: 408px;
            margin-left: 250px;
            transform: scale(1);
            transition: .3s ease-in-out;
            cursor: pointer;
        }
    
    
        #pointer:hover {
    
            transform: scale(1.3);
                   
        }
    
        
    
        #yellow-square {
            width: 410px;
            height: 260px;
            border-radius: 20px;
            background-color: #F5D69B;
            filter: drop-shadow(-2px 3px 2px rgba(83, 83, 83, 0.50));
            margin-top: 55vh;
            margin-left: -190px;
            padding: 10px;
            cursor: pointer;
        }
    
        #picture {
    
            width: 12vw;
            height: auto;
            border: 8px solid #E9D6E8;
            background-color:#E9D6E8; 
            border-radius: 10px;
            margin-top: 42vh;
            margin-left: 430px;
            position: absolute;
            z-index: 10;
            filter: drop-shadow(-1px 4px 1.5px rgba(83, 83, 83, 0.50));
            transform: scale(1);
            transition: .3s ease-in-out;
            cursor: pointer;
        }
    
        #picture:hover {
    
            transform: scale(1.1);
    
        }
    
        .green-rectangles {
            width: 150px;
            height: 120px;
            border-radius: 10px;
            background-color: #63B6AA;
            filter: drop-shadow(-2px 3px 0.5px rgba(83, 83, 83, 0.50));
            display: inline-block;
            padding: 10px;
            margin-left: 22px;
            margin-top: 6px;
            margin-bottom: 8px;
            transform: scale(1);
            transition: .3s ease-in-out;
            cursor: pointer;
        }
    
        .green-rectangles:hover {
    
            transform: scale(1.1);
    
        }
    
        .white-decoration {
            width: 380px;
            height: 20px;
            border-radius: 20px;
            background-color: white;
            filter: drop-shadow(-1px 2px 0.2px rgba(83, 83, 83, 0.50));
            margin-bottom: 10px;
            margin-left: 10px;
            margin-top: 5px;
        }
    
       
        #white-paragraph3 {
            width: 100px !important;
        }
    
        /*slider video*/
    
        #pink-shadow-box {
            background-color: #e28f75;
            width: 30vw;
            height: 15vh;
            border-radius: 20px;
            margin-top: 695px;
            margin-left: 480px;
            position: absolute;
            z-index: 5;
        }
    
        #pink-box {
            width: 29.8vw;
            height: 14.8vh;
            margin-top: 698.2px;
            margin-left: 480px;
            background-color: #ffa58a;
            border-radius: 20px;  
            position: absolute;
            z-index: 8;
        }
    
        #slider-video {
            width: auto;
            height: 16vh;
            position: absolute;
            z-index: 9;
            margin-top: 75vh;
            margin-left: 30vw;
            filter: drop-shadow(-8px 5px 2px rgba(83, 83, 83, 0.30));
          
        }
    
    
        /******profile's overlay********/

    #overlay-profile {
        position: fixed; 
        display: none; 
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(85deg, rgba(29, 94, 124, 0.8) 20%, rgba(91, 44, 119, 0.8) 100%);
        z-index: 500;
        cursor: pointer; 
      }

      .close {
        width: 60px;
        height: auto;
        filter: drop-shadow(-2px 1px 0.5px rgba(82, 63, 63, 0.3));  
        position: absolute;
        transform: translateX(1235px);
        margin-top: 45px;
      }

      #card {
        display: flex;
        transform: translateY(28%) translateX(95px);
        height : 377.5px;
       
                      
        }

        #left {
            
            height : auto;
            width: 540px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
                     
                          
        }

        #right {
            
            background-color: #F5E9ED;
            height : 377.5px;
            width: 540px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            position: relative;
                                  
        }

        #portrait {
            height : auto;
            width: 540px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

       #about2 {
           display: none;
           position: absolute;
           z-index: 100;
           width: 10.5%;
           height: auto;
           margin-left: 150px;
           margin-top: 30px;
       }

        #decoration-card {
            width: 360px;
            transform: rotate(90deg);
            margin-top: -5px;
            margin-left: -90px;
            position: fixed;
        }

        #decoration-card2 {
            width: 260px;
            transform: rotate(90deg);
            margin-top: -65px;
            margin-left: 20px;
            position: fixed;
        }

        #iam {
            color: #EE8274;
            font-size: 1.65em;
            font-weight: 800;
            margin-top: 22px;
            margin-left: 45px;
            padding-bottom: 115px;
        }

        #jeparle {
            color: #EE8274;
            font-size: 1.70em;
            font-weight: 800;
            margin-left: 50px;
            padding-top: 35px;
            
        }

        h1, h2, h3 {
            position: absolute;
            color: #A584BC;
            }

        h1 {
            margin-top: -130px;
            margin-left: 115px;
            font-size: 3em;
        }

        h2 {
            margin-top: -88px;
            margin-left: 15px;
            font-size: 2.4em;
        }

        h3 {
            margin-top: -50px;
            margin-left: 165px;
            font-size: 1.6em;
        }

        #ovni {
            opacity: 0.2;
            margin-top: -90px;
            margin-left: 345px;
            font-size: 2.7em;
        }

        #javascript {
            margin-top: -30px;
            margin-left: 195px;
            font-size: 2.5em;
        }

        #html {
            margin-left: 375px;
        }

        #css {
            
            margin-top: 19px;
            margin-left: 310px;
            font-size: 1.3em;
        }

        #humain {
            opacity: 0.2;
            margin-top: 10px;
            margin-left: 95px;
            font-size: 2.5em;
        }

        #sass {
            margin-top: -15px;
            margin-left: 400px;
            font-size: 2.3em;
        }

        #wordpress {
            margin-left: 375px;
            margin-top: 28px;
            font-size: 1.7em;
        }


        .social {
            display: inline-block;
            padding-right: 5px;
            margin-top: 85px;
            margin-left: 10px;
            width: 35px;
            height: auto;
            transition: .3s ease-in-out;
        }

        .social:hover {

            transform: scale(1.3);
    
        }

        #pointer2 {
            position: absolute;
            z-index: 100;
            width: 67px;
            height: auto;
            margin-left: 37%;
            margin-top: 85px;
            transform: rotate(70deg);
        }

        #pointer3 {
            position: absolute;
            z-index: 100;
            width: 47px;
            height: auto;
            margin-left: 20%;
            margin-top: -42px;
            animation-name: pointing;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            display: block;
    }

    @keyframes pointing {
        0% {
          
          transform: translatey(0px);
        }

        50% {
          
            transform: translatey(-8px);
          }

        100% {
          
          transform: translatey(0px);
        }
        
      }

        


        /****Bubble contact*****/

         /* bubble container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .popup .bubble {
    visibility: hidden;
    width: 260px;
    background-color: #A584BC;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
    
  /* Toggle class*/
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

   
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } 
    
    
    
      /***************CV's overlay*******************/
    
      #overlay-cv {
        position: fixed; 
        display: none; 
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(105deg, rgba(124, 202, 183, 0.9) 40%, rgba(253, 113, 148, 0.9) 100%);
        z-index: 500;
        cursor: pointer; 
        overflow-y: scroll;
        scrollbar-width: none;
      }
    
    
      /*timeline*/
      .timeline {
          margin-left: 16%;
          margin-top: 85px;
      }
    
       /* Container around content */
      .container {
        padding: 10px 40px;
        background-color: rgb(255, 238, 228);
        position: relative;
        width: 300px;
        border-radius: 10px;
      }
    
      /* The circles on the timeline */
    .left::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid #EE8274;
        top: 15px;
        border-radius: 100%;
        z-index: 1;
      }
    
      .right::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        left: -17px;
        background-color: white;
        border: 4px solid #A584BC;
        top: 15px;
        border-radius: 100%;
        z-index: 1;
      }
    
      /* Place the container to the left */
    .left {
        left: 50px;
        margin-top: 35px;
      }
      
      /* Place the container to the right */
      .right {
        left: 37.5%;
        margin-top: 35px;
      }
    
       
      /* The actual content */
      .content {
        padding: 20px 30px;
        background-color: rgb(255, 238, 228);
        color: #EE8274;
        font-size: 1.2em;
        font-weight: 500;
        position: relative;
        border-radius: 20px;
      }
    
      .content h2 {
          color: white;
          font-size: 1.6em;
          font-weight: 600;
      }
    
      #cross {
          position: fixed;
      }
    
    
      /***CV pdf download****/
    
      #cv-download {
    
        text-decoration: none;
        width: 180px;
        border-radius: 20px;
        background-color: #b38ccf;
        color: white;
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        display: inline-block;
        padding: 2px;
        margin-left: 39px;
        margin-top: 45px;
        box-shadow: -1px 2px 0.8px rgba(83, 83, 83, 0.20);
           
    }
      
      
    


























    
}